@import "tailwindcss";

@theme {
  --color-industrial: #FFC000;
  --color-dark: #000000;
  --color-steel: #1a1a1a;
  --color-steelLight: #2d2d2d;
  --font-sans: "Inter", sans-serif;
  --font-heading: "Montserrat", sans-serif;
}
